<!--
	author: @fsktt
	date:	14/1/18
	file:	index.html

	wuu2 :eyes:
-->

<html>
	<head>
		<title>type.fskt</title>
		<link rel="stylesheet" href="/css/index.css">
	</head>
	<body>
		<section class="all">
			<header>
				<img class="logo" src="/img/logo.svg">
			</header>
			<section class="type">
				<div class="words">
					<div class="container">
						<span class="sword">ecstatic</span>
						<span class="word">vaporized</span>
						<span class="word">relentless</span>
						<span class="word">arrogant</span>
						<span class="word">recursive</span>
						<span class="word">modified</span>
						<span class="word">reset</span>
						<span class="word">switch</span>
						<span class="word">homosapien</span>
						<span class="word">death</span>
						<span class="word">atlantic</span>
					</div>
				</div>
				<input type="text" class="main" autocorrect="off" spellcheck="false" autocapitalize="off">
			</section>
			<section class="more">
				<div class="stats">
					<span class="wpm">126 wpm</span>
				</div>
				<div class="options">
					<!-- -->
				</div>
			</section>
		</section>
	</body>
</html>